<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="com.fcrllc.eclipse.plugin.editors.MultiPageEditor"
            name="Tutorial Multi-page Editor"
            icon="icons/sample.png"
            extensions="json"
            class="com.fcrllc.eclipse.plugin.editors.MultiPageEditor"
            contributorClass="com.fcrllc.eclipse.plugin.editors.MultiPageEditorContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="com.fcrllc.eclipse.plugin">
      </category>
      <wizard
            id="com.fcrllc.eclipse.plugin.wizards.SampleNewWizard"
            name="Multi-page Editor file"
            icon="icons/sample.png"
            class="com.fcrllc.eclipse.plugin.wizards.SampleNewWizard"
            category="com.fcrllc.eclipse.plugin">
      </wizard>
   </extension>

</plugin>
